locals {

  database_flags = [
    { name = "local_infile", value = "off" },
    { name = "log_bin_trust_function_creators", value = "on" },
  ]
  disk_size = {{ disk_size }}
}

module "{{ name }}" {


  source = "git::https://github.com/pcln/terraform-gcp-cloudsql.git//modules/mysql"

  name                = "{{ name }}-master"
  database_version    = "{{ version }}"
  team                = "data_eng"
  deletion_protection = true

  settings = {
    tier                 = "{{ tier }}"
    disk_size            = local.disk_size
    availability_type    = "ZONAL"
    ip_configuration     = { ipv4_enabled = false }
    backup_configuration = { enabled = true, binary_log_enabled = true, start_time = "20:55" }
    location_preference  = { zone = "{{ zone |default("us-east4-d",true) }}" }
    database_flags       = local.database_flags
  }
{% if ha == true %}
  read_replicas = [
{% for zone in ha_zones %}
    { name                         = "{{name}}-read-relica-{{loop.index0}}"
      region                       = var.region
      deletion_protection_replicas = true
      settings = {
        tier                = "{{ tier }}"
        disk_size           = local.disk_size
        availability_type   = "ZONAL"
        ip_configuration    = { ipv4_enabled = false }
        location_preference = { zone = "{{ zone }}" }
        database_flags      = local.database_flags
      }
    },
{% endfor %}    
{% endif %}
  ]

  # pass through
  project = var.project
  region  = var.region
  env     = var.env

}