#compute.tf
module "{name}" {
  source       = "git::https://github.com/pcln/terraform-gcp-compute_instance.git//modules/compute_instance_tfo"
  module_count = 1

  cell         = "${var.env}a"
  clusterid    = "a"
  disk_size    = "{disk_size}"
  image        = "projects/pcln-pl-infra-nonprod/global/images/{image}"
  machine_type = "{machine_type}"
  servertype   = "{serevr_type}"
  subnet_type  = "{subnet_type}"
  team         = "{team}"

  # pass through
  env     = var.env
  project = var.project
  region  = var.region

  labels = {
    owner = "common_svcs_${var.env}_priceline_com"
  }

  tags = [
    "{tags}",
  ]

}
