#service.account.tf.jinja1
module "{{name}}" {
  source = "git::https://github.com/pcln/terraform-gcp-service_account.git//modules/service_account"

  project      = var.project
  account_id   = "{{name}}"
  display_name = "{{name}}"
  description  = "{{description}}"
}
